p {
  margin: 0;
  width: 100%;
  padding-top: 40vh;
  padding-left: 60vh;

}

.helvetica-100-normal {
  font-size: 100px;
  font-family: "Roboto";
  font-weight: 400%;
  word-wrap: break-word;
}
.helvetica-100-normal-1 {
  font-size: 40px;
  font-family: "Roboto";
  word-wrap: break-word;
  padding-top: 20px;
  width: 60vh;
  text-align: center;

}
.rectangle-13 {
  background-color: rgba(0, 193, 255, 1);
  width: 100em;
  height: 100em;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100em;
  height: 100vh;
}