<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pagina Inicial</title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <a a href="{% url 'commits'%}">Pagina de commits</a>
    </body>

</html>

